h1 {
  text-align: center;
  font-size: 2.8rem;
  margin: 0 0.38em 0.5em 0.38em;
}

.infoLabel {
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0.35rem 1rem 0.35rem;
  box-sizing: content-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  height: 100vh;
  margin: 0px;
  background: #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cellContainer {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 70vh;
  height: 70vh;
  margin: 2rem auto 0 auto;
  position: relative;
}

.winningBar {
  position: absolute;
  background: rgb(253, 243, 243);
  left: var(--left-winning-bar, 100%);
  top: var(--top-winning-bar, 100%);
  width: var(--width-winning-bar, 100%);
  height: var(--height-winning-bar, 100%);
  transform: rotate(var(--rotation-winning-bar, 0));
}

.winningBarAnimation {
  animation: animateWinningBar 1s ease-out;
}

@keyframes animateWinningBar {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1) rotate(var(--rotation-winning-bar, 0));
  }
}

.landingContainer {
  width: 700px;
  margin: 3rem auto;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.clicked {
  cursor: auto;
}

input,
label {
  margin-top: 1rem;
  box-sizing: border-box;
  border: none;
  font-size: 1.1rem;
  padding: 0.5em 0.9em;
}

label {
  width: fit-content;
}

.btn,
input {
  margin-top: 1rem;
  width: 100%;
}

.cell:nth-of-type(n) {
  border: 6px solid #6d6d6d;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay[data-target="true"] {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 30vh auto;
  padding: 20px;
  background: #fff;
  width: 50%;
  position: relative;
  transition: all 1s ease-in-out;
  box-shadow: 0px 0px 1px 1px rgba(26, 26, 26, 0.89);
}

.popup h2 {
  margin-top: 0;
}

.popup .close {
  background: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 20px;
  transition: all 200ms;
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
}

.popup .close:hover {
  color: #fa3939;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  font-size: 1.2rem;
}

@media (max-width: 766px) {
  .landingContainer {
    width: 90vw;
  }

  .cellContainer {
    height: 80vw;
    width: 80vw;
  }

  .popup {
    width: 80vw;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 2.7rem;
  }

  .infoLabel {
    font-size: 1rem;
  }

  .landingContainer {
    margin-top: 1rem;
  }

  .cell:nth-of-type(n) {
    border: 4px solid #6d6d6d;
    --grid-pixel-adjustment: 4px;
  }
}

.cell:nth-of-type(-n + 3) {
  border-top: 0;
  padding-block-start: var(--grid-pixel-adjustment, 6px);
}

.cell:nth-of-type(3n -2) {
  border-left: 0;
  padding-inline-start: var(--grid-pixel-adjustment, 6px);
}

.cell:nth-of-type(3n) {
  border-right: 0;
  padding-inline-end: var(--grid-pixel-adjustment, 6px);
}

.cell:nth-of-type(n + 7) {
  border-bottom: 0;
  padding-block-end: var(--grid-pixel-adjustment, 6px);
}

.btn {
  padding: 0.5em 1.45em;
  border: 0.2em solid #cccccc;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-family: inherit;
  cursor: pointer;
  background-color: #cccccc;
  text-align: center;
}

.btn:hover {
  border-color: #7a7a7a;
}

.btn:active {
  background-color: #999999;
}

.inputGroup {
  display: flex;
  white-space: nowrap;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #5a5d5f;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
  display: none;
  box-sizing: border-box;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.game-icon {
  width: 0%;
  height: 0%;
  transition: all 350ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.visible-icon {
  width: 80%;
  height: 80%;
}

.messagesWrapper {
  pointer-events: none;
  position: fixed;
  padding: 2em 3% 2em 5%;
  top: 2em;
  bottom: 5em;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  opacity: 85%;
  width: 400px;
}
.messagesWrapper::-webkit-scrollbar {
  display: none;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100%;
}

.message {
  background: #afafaf;
  box-shadow: 0px 0px 6px 2px rgb(85, 77, 77);
  padding: 1em;
  margin: 0.5em 1em;
  transform: translateX(600px);
  transition: all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.15);
  pointer-events: all;
  cursor: pointer;
  max-width: 300px;
  width: 100%;
}

.message[data-hidden="false"] {
  transform: translateX(0px);
}

.message > h3 {
  margin: 0 0 0.25em 0;
}

@media (max-width: 540px) {
  .message {
    font-size: small;
    max-width: 200px;
  }

  .messagesWrapper {
    width: 300px;
  }
}
